.react-tabs__tab-list {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #f57224; /* Full-width border */
}

.react-tabs__tab {
  padding: 10px 20px;
  font-weight: bold;
  color: #333; /* Default text color */
  cursor: pointer;
}

.react-tabs__tab--selected {
  color: #f57224; /* Selected tab color */
  border-bottom: 3px solid #f57224; /* Highlight for selected tab */
}

.react-tabs__tab:focus {
  outline: none;
  border: none;
}
